<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @await Html.PartialAsync("_BaseHrefPartial")
    @await Html.PartialAsync("_ResourceHintsPartial")
    @await Html.PartialAsync("_FaviconsPartial")
    @await Html.PartialAsync("_StylesPartial")
</head>
<body>
@RenderBody()
@RenderSection("Scripts", required: false)
</body>
</html>
